::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* From Uiverse.io by satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  width: 100vw;
  height: 98vh;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 2px,
    transparent 0
  );
  background-size: 3rem 3rem;
  background-position: -5px -5px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
}

.goGit {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0.1rem 0.8rem;
  cursor: pointer;
  margin-right: 1.8rem;
  transition: all 0.2s linear;
  font-weight: bold;

  position: relative;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
  }

  svg {
    width: 1.5rem;
    margin-right: 0.5rem;
    transition: all 0.3s linear;
  }
}

.goGit:hover svg {
  transition: all 0.3s linear;
  fill: #6a4daa;
}

.goGit:hover span {
  transition: all 0.3s linear;
  color: #4d4d4d;
}

.goGit:hover span {
  transition: all 0.3s linear;
  color: #8d8d8d;
}

.content {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 50%;
  height: 85%;
}

.content_title svg {
  width: 2.2rem;
  margin-right: 1rem;
}

span {
  color: #6f6f6f;
  font-weight: bold;
}

p {
  color: #bebebe;
}

main {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  h2 {
    font-size: 1.5rem;
    color: #fff;
    margin: 2rem 0;
  }
}

main .content_message {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  row-gap: 0.8rem;

  span {
    font-size: 0.9rem;
  }
}

.messageBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2d2d;
  height: 2rem;
  width: 100%;
  padding: 0 0.6rem 0 0.2rem;
  border-radius: 0.65rem;
  border: 1px solid rgb(63, 63, 63);
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  svg {
    height: 18px;
    transition: all 0.3s;
  }

  svg path {
    transition: all 0.3s;
  }
}

#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

.noteList {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
}

.list_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin: 1rem 0;

  /* From Uiverse.io by gharsh11032000 */
  .menu {
    font-size: 0.9rem;
    line-height: 1rem;
    color: #6f6f6f;
    width: fit-content;
    display: flex;
    list-style: none;
  }

  .menu a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .menu .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu .link svg {
    width: 14px;
    height: 14px;
    fill: #6f6f6f;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu .item {
    position: relative;
  }

  .menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #cccccc;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }

  .menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
  }

  .menu .item:hover .link {
    color: #ffffff;
    border-radius: 16px 16px 0 0;
  }

  .menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }

  .menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
  }

  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .submenu .submenu-link {
    display: block;
    background-color: transparent;
    border: none;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
  }

  .submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
  }

  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #2b2b2e;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }

  .submenu .submenu-link:hover {
    color: #ffffff;
  }
}

.list_notes {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: 21rem;
}

.content_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0;
  width: 100%;
}

.wrapper_check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  input {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0.6rem;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }
}

.wrapper_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  input:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: none;
  }

  input:checked {
    box-shadow: none;
    border: 2px solid #6f6f6f;
  }

  input:checked {
    transform: rotate(360deg);
    scale: 1;
  }

  span {
    font-size: 1.2rem;
  }

  .input-p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.list_item {
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  overflow: hidden;
  width: 32rem;
  text-overflow: ellipsis;
}

.buttonMore {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  transition: background-color 0.2s ease-in-out;
}

.buttonMore:hover {
  cursor: pointer;
  background-color: #2b2b2e;
}

.moreOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  right: 1rem;
  width: 6rem;
  height: 2rem;
  background-color: #323232;
  border-radius: 0.5rem;
  z-index: 9999;

  button {
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 1.3rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }

  button:hover {
    cursor: pointer;
    background-color: #2b2b2e;
    transition: all 0.3s ease;
  }
}

.wrapper_item_edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-radius: 0.2rem;
  border: none;
  background-color: transparent;

  input {
    background-color: #2b2b2e;
    box-shadow: none;
    width: 95%;
    height: 1.8rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    color: #bebebe;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.05rem;
  }

  input:focus {
    border: 1px solid #323232;
    outline: none;
  }
}

.editButton {
  width: 2rem;
  border: none;
  background-color: transparent;
  color: #fff;

  svg {
    width: 1.5rem;
  }
}

.editButton:hover {
  cursor: pointer;
}
