@media screen and (max-width: 768px) {
  .content {
    width: 80%;
  }

  .list_notes {
    height: 16rem;
  }

  .list_item {
    max-width: 28rem;
  }

  .moreOptions {
    right: 0.2rem;
  }
}

@media screen and (max-width: 700px) {
  .content {
    width: 70%;
  }

  .list_notes {
    height: 16rem;
  }

  .list_item {
    max-width: 21rem;
  }

  .moreOptions {
    right: 0.5rem;
  }
}

@media screen and (max-width: 630px) {
  .content {
    width: 80%;
  }

  .list_item {
    max-width: 22rem;
  }
}

@media screen and (max-width: 580px) {
  .list_notes {
    height: 15rem;
  }

  .list_item {
    max-width: 19rem;
  }

  .moreOptions {
    right: 0.5rem;
  }
}

@media screen and (max-width: 530px) {
  .list_notes {
    height: 15rem;
  }

  .list_item {
    width: 17rem;
    font-size: 0.8rem;
  }

  .moreOptions {
    right: 0.3rem;
  }
}

@media screen and (max-width: 420px) {
  .content {
    width: 80%;
  }

  .list_notes {
    height: 16rem;
  }

  .list_item {
    width: 11.5rem;
  }

  .moreOptions {
    right: 0.2rem;
  }
}

@media screen and (max-width: 320px) {
  .content {
    width: 85%;
  }

  .list_notes {
    height: 16rem;
  }

  .list_item {
    max-width: 8rem;
  }

  .moreOptions {
    right: 0.5rem;
  }

  .goGit a > span {
    display: none;
  }

  .goGit svg {
    width: 1.5rem;
  }

  .content_title {
    height: 4rem;

    svg {
      width: 2rem;
    }
  }

  .list_info > span {
    font-size: 0.9rem;
  }

  main h2 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .list_notes {
    height: 18rem;
  }

  .list_item {
    width: 12rem;
  }
}
