<div class="container center">
  <div class="content">
    <header class="center">
      <button class="optionsButton center">
        <span class="material-symbols-outlined"> more_vert </span>
        <span>Options</span>
      </button>
    </header>

    <main>
      <h2>my todo app</h2>

      <div class="content_message">
        <span>What do you have to do?</span>

        <div class="messageBox">
          <input
            required=""
            placeholder="Message..."
            type="text"
            id="messageInput"
            (keyup.enter)="addedNote()"
          />
          <button id="sendButton" (click)="addedNote()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 664 663"
            >
              <path
                fill="none"
                d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
              ></path>
              <path
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="33.67"
                stroke="#6c6c6c"
                d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </main>
  </div>
</div>
