@use "@angular/material" as mat;
@use "./app/homepage/_homepage.component.theme" as layout-theme;

@include mat.core();

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Fira Code";
  list-style-type: none;
}

$light-theme: mat.define-theme(
  (
    color: (
      use-system-variables: true,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      use-system-variables: true,
    ),
  )
);

html,
body {
  height: 100%;
}

html {
  @include mat.all-component-themes($light-theme);
  @include layout-theme.theme($light-theme);

  &.dark {
    @include layout-theme.theme($dark-theme);

    --sys-primary: rgb(65 95 145);

    --sys-on-primary: rgb(255 255 255);
    --sys-primary-container: rgb(214 227 255);
    --sys-on-primary-container: rgb(0 27 62);
    --sys-secondary: rgb(86 95 113);
    --sys-on-secondary: rgb(255 255 255);
    --sys-secondary-container: rgb(218 226 249);
    --sys-on-secondary-container: rgb(19 28 43);
    --sys-tertiary: rgb(83 90 146);
    --sys-on-tertiary: rgb(255 255 255);
    --sys-tertiary-container: rgb(223 224 255);
    --sys-on-tertiary-container: rgb(13 21 75);
    --sys-error: rgb(186 26 26);
    --sys-on-error: rgb(255 255 255);
    --sys-error-container: rgb(255 218 214);
    --sys-on-error-container: rgb(65 0 2);

    --sys-on-background: rgb(25 28 32);
    --sys-surface: rgb(249 249 255);
    --sys-on-surface: rgb(25 28 32);
    --sys-surface-variant: rgb(224 226 236);
    --sys-on-surface-variant: rgb(68 71 78);
    --sys-outline: rgb(116 119 127);
    --sys-outline-variant: rgb(196 198 208);
    --sys-shadow: rgb(0 0 0);
    --sys-scrim: rgb(0 0 0);
    --sys-inverse-surface: rgb(46 48 54);
    --sys-inverse-on-surface: rgb(240 240 247);
    --sys-inverse-primary: rgb(170 199 255);

    --sys-on-primary-fixed: rgb(0 27 62);
    --sys-primary-fixed-dim: rgb(170 199 255);
    --sys-on-primary-fixed-variant: rgb(39 71 119);
    --sys-on-secondary-fixed: rgb(19 28 43);
    --sys-secondary-fixed-dim: rgb(190 198 220);
    --sys-on-secondary-fixed-variant: rgb(62 71 89);
    --sys-tertiary-fixed: rgb(223 224 255);
    --sys-on-tertiary-fixed: rgb(13 21 75);

    --sys-surface-container-lowest: rgb(255 255 255);

    --sys-surface-container: rgb(237 237 244);
    --sys-surface-container-high: rgb(231 232 238);
    --sys-surface-container-highest: rgb(226 226 233);

    --sys-background: radial-gradient(
      rgba(18, 222, 69, 0.04) 2px,
      transparent 0
    );
    --sys-primary-fixed: rgb(220, 220, 37);

    --sys-surface-bright: #5c7ad0;
    --sys-secondary-fixed: #e0e0e0;
    --sys-surface-container-low: #fefefe80; // messageBox
    --sys-on-tertiary-fixed: #b8b8b8;
    --sys-surface-container: #fefefe;
    --sys-surface-dim: #fc4c00;

    --sys-on-tertiary-fixed-variant: #1f2120;
    --sys-tertiary-fixed-dim: #bec5d1; //mat icon
    --sys-surface-tint: #415f91; // messageB

    // sendbutton svg
    --sys-tertiary-fixed: #fefefe4f;
    --sys-on-tertiary-fixed: #6367cb;

    // color list item> 1F2120
  }
  // color list item> B8B8B8
  --sys-on-tertiary-fixed-variant: #b8b8b8;
  --sys-secondary-fixed: #b8b8b8;
  --sys-tertiary-fixed-dim: #a9a8a8; //mat icon
  --sys-surface-tint: #818489; // messageB

  // sendbutton svg
  --sys-tertiary-fixed: #3c3c3c;
  --sys-on-tertiary-fixed: white;
}

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.toast-container * {
  box-sizing: border-box;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 1px #999999;
  color: #ffffff;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}

.toast-info {
  background-color: #202023;
  font-size: 80%;
}

/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
